@charset 'utf-8';
/*-----------------------------------------------------------------*/
/* Reset
/*-----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, input, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
ol, ul, li, dl, dt, dd,
fieldset, form, label, legend,
table, textarea, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0; padding:0; border:0; color:inherit;font-family: 'Noto Sans KR', 'Noto Sans', '나눔고딕', '맑은 고딕', sans-serif;font-weight: 400; line-height:normal; vertical-align:middle;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
}

input,
textarea,
button,
select{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border:1px solid #ababab;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section {display:block;}
html {font-size:10px;}
body {line-height:normal;font-size:14px;}
ol, ul, li {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
li img {vertical-align:top;}

input {
	-webkit-tap-highlight-color:transparent;
}
input[type=radio],
input[type=checkbox],
input[type=date] {
	position:relative; 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type=date],
input[type=password],
input[type=number],
textarea {
	border-radius:0 !important;
}
input[type=date] {
	vertical-align:middle;
}
input[type=date]::-webkit-datetime-edit-month-field {
    color: #888;
 }
input[type=date]::-webkit-datetime-edit-day-field {
    color: #888;
 }
input[type=date]::-webkit-datetime-edit-year-field {
    color: #888;
 }
  
input[type=date]::-webkit-clear-button {
    display:none;
}
input[type=date]::-webkit-inner-spin-button {
	display:none;
}
input[type=date]::-webkit-calendar-picker-indicator {
	display:inline-block;
	opacity:0;
    width:28px;
    height:28px;
    padding:0;
    margin-right:3%;
    background:transeparent;
}

input[type=text],
input[type=email],
input[type=password] {
	vertical-align:top;
}
input[type=reset],
input[type=submit] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}
input[type=text] {
	-webkit-appearance:textfield;
	-moz-appearance:textfield;	
	appearance:textfield;
}
button, 
input[type=button],
input[type=reset],
input[type=submit] {
	overflow: visible;
	padding:0;
	border: none;
	background: 0; 	
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected, 
textarea:-internal-autofill-previewed, 
textarea:-internal-autofill-selected, 
select:-internal-autofill-previewed, 
select:-internal-autofill-selected {
	background-color:rgba(225,225,225,0) !important;
}

a, 
a:hover, 
a:active, 
a:focus {
	text-decoration:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

audio,
button,
canvas,
input,
label,
iframe,
img,
select,
svg,
video {
	vertical-align: middle;
}
legend,
caption {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	border: none;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
caption {
	position: static;
	color: transparent;
}
hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
	border: 0;
	border-top: 1px solid #000;
}

/* Placeholder */
::-webkit-input-placeholder {
	color: #888 !important;
}
:-ms-input-placeholder {
	color: #888 !important;
}
::-moz-placeholder {
	color: #888 !important;
}
:-moz-placeholder {
	color: #888 !important;
}
::placeholder {
	color: #888 !important;
}
.placeholderTxt {
	color: #888 !important;
}
/* Selection */
::-moz-selection {
	text-shadow: none;
	background: #ddd;
}
::selection {
	text-shadow: none;
	background: #ddd;
}
